<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="DatabaseContext" 
       connectionString="data source=LAPTOP-0BNF9E02\SQLEXPRESS;initial catalog=UrunSiparisYonetim2;
       integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
       providerName="System.Data.SqlClient" />
</connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>